.image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.background-image {
    background: url('/img/bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;
}

@keyframes floating {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}

.shooting-star {
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    box-shadow: 0 0 10px white;
    animation: shooting 2s linear infinite;
}

@keyframes shooting {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(-100vw, 100vh);
        opacity: 0;
    }
}

.btn-dark {
    background-color: #343a40;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-dark:hover {
    background-color: #495057;
    transform: scale(1.05);
}

.btn-dark:active {
    background-color: #212529 !important;
    transform: scale(0.95);
}

.card.bg-glass {
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
